

@using (Html.BeginForm("CreateGroup", "Group", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "SOMEMYID" }))
{
    @Html.HiddenFor(model => model.Id)

    @Styles.Render("~/Content/DropdownCountry/DropdownCountry")
    <!-- panel-body -->

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Latitude)
    @Html.HiddenFor(model => model.Longitude)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group organisation-name" style="padding-top: 25px;">
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="margin-bottom: 35px;">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @Value = HttpUtility.HtmlDecode(Model.Name) } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 ignore-padding">
                        @Html.LabelFor(model => model.WebSite, new { @class = "control-label col-md-4" })
                        <div class="col-md-8 col-xs-12 pull-right">
                            @Html.TextBoxFor(model => model.WebSite, new { @class = "form-control", placeholder = "http://www.example.com" })
                            @Html.ValidationMessageFor(model => model.WebSite, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("E-mail", new { @class = "control-label col-md-4", @style = "padding-left:0;" })
                        @*@Html.LabelFor(model => model.Email, new {@class = "control-label col-md-4"})*@
                        <div class="col-md-8 col-xs-12 ignore-padding pull-right">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "example@info.com" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
}

