<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SendInTime</title>
   @* <link rel="stylesheet" type="text/css" href="glyphicons.css" />*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
     
                <ul class="nav navbar-nav">               
                    <li class="dropdown">
                        <a class="dropdown-toggle glyphicon glyphicon-list" data-toggle="dropdown" href="#">
                           
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Create News</a></li>
                            <li><a href="#">My Groups</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.ActionLink("SendInTime", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>*@
                @*@Html.Partial("_LoginPartial")*@
                <div class="head-auth-ava pull-right ">
                    <span class="post-avatar">
                        <a href="">
                            <img src="" alt="">
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        <footer>
            <p>&copy; @DateTime.Now.Year - SendInTime</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
