<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SenTime</title>
   @* <link rel="stylesheet" type="text/css" href="glyphicons.css" />*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="container navbar navbar-default">
        <div class="container">
            
            <div class="navbar-header">
     
                <ul class="nav navbar-nav">               
                    <li class="dropdown">
                        <a class="dropdown-toggle glyphicon glyphicon-align-justify" data-toggle="dropdown" href="#"></a>
                        <ul class="dropdown-menu">
                            @*<li><a href="#"><i class="glyphicon glyphicon-plus"></i>Add News</a></li>*@
                            <li>
                                <a href="@Url.Action("CreateNews", "News")">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add news</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "News")">
                                    <i class="glyphicon glyphicon glyphicon-briefcase"></i>
                                    <span>My Organisations</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                @Html.ActionLink("SenTime", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
            </div>
            <div class="navbar-collapse collapse">
                <span class="news-header">News</span>
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li><a class="chooseCategories">Вибрати категорії</a></li>
                </ul>*@
                @*@Html.Partial("_LoginPartial")*@
                
                @*<div class="center-div">
                    <p>News</p>
                </div>*@
                <div class="head-auth-ava pull-right ">
                    <span class="post-avatar">
                        <a href="">
                            <img src="http://cdn.fishki.net/upload/post/201504/13/1500568/guy-fawkes-mask-v-for-vendetta-i7.jpg" alt="">
                        </a>
                    </span>
                    <div class="dropdown avatar-menu">
                        <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("Index", "Home")">
                                    <i class="glyphicon glyphicon glyphicon-user"></i>
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Login", "Account")">
                                    <i class="glyphicon glyphicon glyphicon-log-out"></i>
                                    <span>Sign out</span>
                                </a>
                            </li>
          
     
                        </ul>
                    </div>
                </div>

            </div>
</div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        <footer>
            <p>&copy; @DateTime.Now.Year - SenTime</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
